<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <ul class="error-messages">
          <li>That title is required</li>
        </ul>


        <%= form_with( model: @article,local: true,url: article_path(@article),method: :patch) do |f| %>
            

          <fieldset>
            <fieldset class="form-group">
              <%= f.text_field :title, class:'form-control form-control-lg',placeholder: "Article Title" %>
            </fieldset>

            <fieldset class="form-group"
              <%= f.text_field :description ,class:"form-control", placeholder:"What's this article about?" %>
            </fieldset>
            <fieldset class="form-group">
              <%= f.text_area :body,class:"form-control",rows:8,placeholder:"Write your article (in markdown)" %>
            </fieldset>
            <fieldset class="form-group">

            <fieldset class="form-group">
            <% @article.tags.each do |tag| %>
              <span class="tag-default tag-pill">
                <i class="ion-close-round" data-method="delete" href="<%= remove_tag_article_path(@article, tag_id: tag.id) %>"></i>
                <%= tag.name %>
              </span>
            <% end %>
            <%= f.text_field :new_tag, class: "form-control", placeholder: "Enter new tag" %>
          
            </fieldset>
              <div class="tag-list">
              <span class="tag-default tag-pill"> <i class="ion-close-round"></i> tag </span>
              </div>
            </fieldset>
            <%= button_to 'Update Article',@article,method: :update,class: "btn btn-lg pull-xs-right btn-primary" %>
           
            <%= button_to 'Delete Article',@article,method: :delete,data: {confirm: 'Are you sure?'},class: 'btn btn-lg btn-danger' %>
          </fieldset>
        </form>

        <% end %>
      </div>
    </div>
  </div>
</div>