<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1><%= @article.title %></h1>

      <div class="article-meta">
        <a href="/user/<%= @article.user.username %>"><img src="<%= @article.user.image %>" /></a>
        <div class="info">
          <a href="/user/<%= @article.user.username %>" class="author"><%= @article.user.username %></a>
          <span class="date"><%= @article.created_at.strftime("%B %d, %Y") %></span>
        </div>
        <button class="btn btn-sm btn-outline-secondary">
          <i class="ion-plus-round"></i>
          &nbsp; Follow <%= @article.user.username %>
        </button>
        <button class="btn btn-sm btn-outline-primary">
          <i class="ion-heart"></i>
          &nbsp; Favorite Article <span class="counter">(<%= @article.favoritesCount %>)</span>
        </button>
      </div>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <p><%= @article.body %></p>
      </div>
    </div>

    <hr />

    <div class="article-actions">
      <div class="article-meta">
        <a href="/profile/<%= @article.user.username %>"><img src="<%= @article.user.image %>" /></a>
        <div class="info">
          <a href="/profile/<%= @article.user.username %>" class="author"><%= @article.user.username %></a>
          <span class="date"><%= @article.created_at.strftime("%B %d, %Y") %></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <!-- コメントフォームやコメント一覧をここに表示 -->
      </div>
    </div>
  </div>
</div>