<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign in</h1>
        <p class="text-xs-center">
          <a href="/register">Need an account?</a>
        </p>

        <ul class="error-messages">
          <li>That email is already taken</li>
        </ul>

        <%= form_with url: login_path, local: true, id: "login-form" do |form| %>
          <fieldset class="form-group">
            <%= form.email_field :email, class: "form-control form-control-lg", placeholder: "Email" %>
          </fieldset>
          <fieldset class="form-group">
            <%= form.password_field :password, class: "form-control form-control-lg", placeholder: "Password" %>
          </fieldset>
          <%= form.submit "Sign in", class: "btn btn-lg btn-primary pull-xs-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'login' %>