<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link active" href="">Global Feed</a>
            </li>
          </ul>
        </div>

        <% @articles.each do |article| %>
          <div class="article-preview">
            <div class="article-meta">
              <a href="/user/<%= article.user.username %>"><img src="<%= article.user.image %>" /></a>
              <div class="info">
                <a href="/user/<%= article.user.username %>" class="user"><%= article.user.username %></a>
                <span class="date"><%= article.created_at.strftime("%B %d, %Y") %></span>
              </div>
              <button class="btn btn-outline-primary btn-sm pull-xs-right">
                <i class="ion-heart"></i> <%= article.favoritesCount %>
              </button>
            </div>
            <a href="/article/<%= article.slug %>" class="preview-link">
              <h1><%= article.title %></h1>
              <p><%= article.description %></p>
              <span>Read more...</span>
              <ul class="tag-list">
                <% article.tags.each do |tag| %>
                  <li class="tag-default tag-pill tag-outline"><%= tag.name %></li>
                <% end %>
              </ul>
            </a>
          </div>
        <% end %>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <% @tags.each do |tag| %>
              <a href="/tag/<%= tag.name %>" class="tag-pill tag-default"><%= tag.name %></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>